@{
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}

@*Section for rendering page css file in layout view*@
@section css {
			<link rel="stylesheet" type="text/css" href="css/createCourse.css">
}

<h1 class="title">Create Course</h1>
<div class="create-course-container">
	<form class="create-course-form" action="~/createcourse" method="post">
		<label for="coursename">Course Name</label>
		<input type="text" id="coursename" name="coursename" required/>
		<label for="teacherid">Teacher Id</label>
		<input type="text" id="teacherid" name="teacherid" required/>
		<input type="submit" value="Create Course"/>
	</form>
</div>