@{
	Layout = "~/Views/Shared/_NavLayout.cshtml";
	List<AssignmentResponse> assignments = (List<AssignmentResponse>)ViewData["assignments"];
	ViewBag.CurrentUrl = String.Format("~/submitassignment/{0}", @ViewData["courseId"]);
}

@*Section for rendering page css file in layout view*@
@section css {
	<link rel="stylesheet" type="text/css" href="~/css/submittedAssignments.css">
}

<h1 class="title">Submitted Assignments</h1>
<div class="submitted-assignments-container">
	<form class="submitted-assignments-form" actrion="" method="get">
		<input type="text" id="search-input" name="search-input" placeholder="Fill in student id" />
		<input type="submit" value="Search" />
	</form>
	<table class="search-results-table">
		<tr>
			<th>Student Id</th>
			<th>Assignment Id</th>
			<th>Assignment Download</th>
			<th>Grade</th>
		</tr>
		@{
			foreach(AssignmentResponse assignment in assignments)
			{
				Dictionary<string, string> partialGradeData = new Dictionary<string, string>();
				partialGradeData.Add("Grade", assignment.Grade.ToString());
				partialGradeData.Add("AssignmentId", assignment.AssignmentId.ToString());
				partialGradeData.Add("CourseId", @ViewData["courseId"].ToString());

				<tr>
					<td>@assignment.StudentId</td>
					<td>@assignment.AssignmentId</td>
					<td><a class="button-link" href="~/download/@assignment.AssignmentFileName">Download Assignment</a></td>
					<td>@await Html.PartialAsync("_GradeFormPartialView", partialGradeData)</td>
				</tr>
			}
		}
	</table>
	<a class="button-link" href="~/course/@ViewData["courseId"]">Go Back</a>
</div>
