@{
    Layout = "~/Views/Shared/_NavLayout.cshtml";
    ViewBag.CurrentUrl = String.Format("~/assignment/{0}", ViewData["courseId"]);
}

@*Section for rendering page css file in layout view*@
@section css {
        <link rel="stylesheet" type="text/css" href="~/css/submitAssignment.css">
}

<h1 class="title">Edit Course</h1>
<div class="submit-assignment-container">
    <form enctype="multipart/form-data" class="submit-assignment-form" action="~/submitassignment" method="post">
        <input type="hidden" id="course-id" name="CourseId" value="@ViewData["courseId"]"/>
        <label for="assignment-file">Upload Assignment File</label>
        <input type="file" id="assignment-file" name="assignmentFile" required>
        <div class="submit-assignment-buttons-container">
            <a class="button-link" href="~/course/@ViewData["courseId"]">Cancel</a>
            <input type="submit" value="Submit"/>
        </div>
    </form>
</div>
