@{
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}

@*Section for rendering page css file in layout view*@
@section css {
	<link rel="stylesheet" type="text/css" href="css/home.css">
}

<h1 class="title">Your Courses</h1>
<div class="course-cards__container">
	<partial name="_CourseCardPartialView"></partial>
	<partial name="_CourseCardPartialView"></partial>
	<partial name="_CourseCardPartialView"></partial>
	<partial name="_CourseCardPartialView"></partial>
	<partial name="_CourseCardPartialView"></partial>
	<partial name="_CourseCardPartialView"></partial>
	<partial name="_CourseCardPartialView"></partial>
	<partial name="_CourseCardPartialView"></partial>
	<partial name="_CourseCardPartialView"></partial>
</div>