@{
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}

@*Section for rendering page css file in layout view*@
@section css {
		<link rel="stylesheet" type="text/css" href="css/createAccount.css">
}

<h1 class="title">Create Account</h1>
<div class="create-account-container">
	<form class="create-account-form" action="~/createaccount" method="post">
		<label for="username">Username</label>
		<input type="text" id="username" name="Username" required/>
		<label for="useremail">Email</label>
		<input type="email" id="useremail" name="Email" required/>
		<h3>Roles </h3>
		<div>
			<input type="checkbox" id="admin" name="Admin" value="admin">
			<label for="admin">Admin</label>
		</div>
		<div>
			<input type="checkbox" id="teacher" name="Teacher" value="teacher">
			<label for="teacher">Teacher</label>
		</div>
		<label for="password">Password</label>
		<input type="password" id="password" name="Password" required/>
		<label for="confirmpassword">Confirm Password</label>
		<input type="password" id="confirmpassword" name="Confirmpassword" required />
		<input type="submit" value="Create Account"/>
	</form>
</div>
