@{
	Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

<div class="login__container">
	<form class="login__container-form" action="/" method="get">
		<label for="useremail">Email:</label>
		<input type="email" id="useremail" name="useremail"/>
	    <label for="password"></label>
		<input type="password" id="password" name="password"/>
		<input type="submit" value="Submit"/>
	</form>
</div>
