@{
	Layout = "~/Views/Shared/_NavLayout.cshtml";
	ViewBag.CurrentUrl = "~/profile";
}

@*Section for rendering page css file in layout view*@
@section css {
	<link rel="stylesheet" type="text/css" href="css/profile.css">
}

<h1 class="title">Profile</h1>
<div class="user-profile-container">
	<div class="user-profile-information">
		<h3 class="user-profile-information-name">Name: placeholder</h3>
		<h3 class="user-profile-information-email">Email: placeholder</h3>
	</div>
	<div class="user-profile-password-container">
		<form class="user-profile-resetpassword-form" action="~/profile" method="post">
			<input type="hidden" id="userid" name="UserId" value="a4c49e3b-17c4-4ad9-2673-08db62bc841a" />
			<label for="currentpassword">Current Password</label>
			<input type="password" id="currentpassword" name="CurrentPassword" required />
			<label for="password">Password</label>
			<input type="password" id="password" name="Password" required />
			<label for="confirmpassword">Confirm Password</label>
			<input type="password" id="confirmpassword" name="ConfirmPassword" required />
			<input type="submit" value="Reset Password"/>
		</form>
		@*Error display code*@
		@{
			if (ViewBag.Errors != null)
			{
				if(ViewBag.Errors is string)
				{
					<p>@ViewBag.Errors</p>
				} else
				{
					foreach (var error in ViewBag.Errors)
					{
						<p>@error</p>
					}
				}
			}
		}
	</div>
</div>