@* Basic HTML template layout view *@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Placeholder</title>
    <link rel="stylesheet" type="text/css" href="css/shared.css">
    @RenderSection("css")
</head>
<body class="body-nogrid">
    @RenderBody()
</body>
</html>
