<form class="grade-form" action="~/updategrade/@Model["AssignmentId"]" method="post">
	<input type="hidden" id="course=id" name="courseId" value="@Model["CourseId"]" />
	<input type="text" name="grade" id="grade" placeholder="@Model["Grade"]"/>
	<input type="submit" value="Submit">
</form>
