@{
	Layout = "~/Views/Shared/_NavLayout.cshtml";
	List<CourseResponse> courses = (List<CourseResponse>)ViewData["Courses"];
	ViewBag.CurrentUrl = "~/searchcourses";
}

@*Section for rendering page css file in layout view*@
@section css {
	<link rel="stylesheet" type="text/css" href="css/searchCourses.css">
}

<h1 class="title">Courses</h1>
<div class="search-courses-container">
	<form class="search-courses-form" action="~/searchcourses" method="get">
		<label for="course-attribute">Search By: </label>
		<select id="course-attribute" name="searchBy">
			<option value="CourseName">Course Name</option>
			<option value="CourseId">Course Id</option>
			<option value="TeacherId">Teacher Id</option>
		</select>
		<input type="text" id="search-input" name="searchString" placeholder="Fill in search value"/>
		<input type="submit" value="Search"/>
	</form>
	<table class="search-results-table">
	  <tr>
		<th>Course Name</th>
		<th>Teacher Name</th>
		<th>Course Id</th>
		<th></th>
	  </tr>
	  @{
		foreach(CourseResponse course in courses)
		{
			<tr>
				<td>@course.CourseName</td>
				<td>@course.TeacherId</td>
				<td>@course.CourseId</td>
				<td>
					<form action="~/enrollstudent" method="post">
						<input type="hidden" id="course-id" name="CourseId" value=@course.CourseId>
							<input type="hidden" id="student-id" name="StudentId" value="a4c49e3b-17c4-4ad9-2673-08db62bc841a">
						<input type="submit" value="Enroll">
					</form>
				</td>
			</tr>
		}
	  }
	</table>
</div>