@{
	Layout = "~/Views/Shared/_NavLayout.cshtml";
}

@*Section for rendering page css file in layout view*@
@section css {
	<link rel="stylesheet" type="text/css" href="css/searchCourses.css">
}

<h1 class="title">Courses</h1>
<div class="search-courses-container">
	<form class="search-courses-form" actrion="" method="get">
		<label for="course-attribute">Search By: </label>
		<select id="course-attribute" name="course-attribute">
			<option value="placeholder1">Placeholder1</option>
			<option value="placeholder2">Placeholder2</option>
			<option value="placeholder3">Placeholder3</option>
		</select>
		<input type="text" id="search-input" name="search-input" placeholder="Fill in search value"/>
		<input type="submit" value="Search"/>
	</form>
	<table class="search-results-table">
	  <tr>
		<th>Course Name</th>
		<th>Teacher Name</th>
		<th>Course Id</th>
		<th></th>
	  </tr>
	  <tr>
		<td>Placeholder</td>
		<td>Placeholder</td>
		<td>Placeholder</td>
		<td><a class="button-link" href="">Enroll</a></td>
	  </tr>
	  <tr>
		<td>Placeholder</td>
		<td>Placeholder</td>
		<td>Placeholder</td>
		<td><a class="button-link" href="">Enroll</a></td>
	  </tr>
	</table>
</div>