.login__container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    border: solid black 2px;
}

.login__container {
    border: solid black 1px;
    padding: 10rem;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}

.login__container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login__container-form input {
    margin-bottom: 1rem;
}
