table, th, td {
    border: 1px solid black;
}

th, td {
    font-size: 2rem;
    padding: 1rem;
}

.search-courses-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-courses-form *{
    font-size: 1.5rem;
}

.search-results-table {
    margin: 4rem;
}
